{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/styles/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <title>Chácara Martins</title>
</head>
<body class="background-fundo">
    <header class="branco">
        <nav>
            <ul class="nav justify-content-center">
                <li class="nav-item">
                  <a class="nav-link preto" href="#">Início</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link preto" href="#">Galeria de Fotos</a>
                </li>
                <div>
                    <img src="{% static '/assets/Logo_md.png' %}" alt="Chácara Martins Logo">
                </div>
                <li class="nav-item">
                  <a class="nav-link preto" href="#">Localização</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link preto" href="#">Contato</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link preto" href="#">Login</a>
                  </li>
              </ul>
        </nav>
    </header>
    <main>
        <div>
            <img src="{% static '/assets/Piscina_1.jpeg' %}" alt="foto da piscina">
        </div>
        <div class="caixinha-sobre">
            <div>
                <h2>SOBRE NÓS</h2>
            </div>
            <div>
                <p>A Chácara Martins se destaca como um oásis de alegria e lazer, pronta para receber seus eventos com exclusividade e charme. Mais do que um simples espaço para festas, a chácara oferece uma experiência completa, abraçando seus sonhos e transformando-os em memórias inesquecíveis.</p>
            </div>
        </div>
        <div class="caixinha-instalacoes">
            <div><h2>O ESPAÇO</h2></div>
            <div><p>a Chácara Martins oferece quartos aconchegantes para acomodar até 30 pessoas. A área externa, por sua vez, é um convite para relaxar e aproveitar a natureza em sua plenitude. Uma piscina cristalina convida a mergulhos refrescantes, enquanto a churrasqueira garante um churrasco delicioso para animar a festa.</p></div>
        </div>
        <div>
            <div><img src="{% static '/assets/Patio.jpeg' %}" alt="foto do Patio"></div>
            <div><img src="{% static '/assets/Churrasco.jpeg' %}" alt="foto da Churrasqueira"></div>
            <div><img src="{% static '/assets/Pebolim.jpeg' %}" alt="foto do Pebolim"></div>
            <div><img src="{% static '/assets/Sinuca.jpeg' %}" alt="foto da Sinuca"></div>
        </div>
    </main>
    <footer>
        <div class="caixinha-orcamento">
            <div><h1>FAÇA UM ORÇAMETO</h1></div>
            <div><p>Não perca tempo e transforme sua festa em um evento inesquecível! Entre em contato com a Chácara Martins</p> 
                <a href="https://wa.me/5511971960420?text=Olá, gostaria de saber mais sobre a locação da chácara!"><i class="bi bi-whatsapp verde-whatsapp"></i></a>
            </div>
        <div class="branco">
            <h5>NOS SIGA NAS REDES</h5>
            <a href="https://www.instagram.com/_chacaramartins/"><i class="bi bi-instagram preto"></i></a>
        </div>
    </footer>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>