{% load static %}

<footer>
    <div class="caixinha-orcamento ms-5 me-4 d-flex">
        <div class="flex-column">
            <div class="pt-5 pb-1 px-3">
                <h1>FAÇA UM ORÇAMETO</h1>
            </div>
            <div class="d-flex flex-row align-items-center justify-content-xl-between">
                <div class="pt-2 pb-1 px-3 fs-4">
                    <p>Não perca tempo e transforme sua festa em um evento inesquecível! Entre em contato com a Chácara Martins</p>
                </div>
                <div class="px-3 p-0">
                    <a href="https://wa.me/5511971960420?text=Olá, gostaria de saber mais sobre a locação da chácara!" target="_blank">
                        <img class="d-none d-lg-block" src="{% static '/assets/WhatsApp_sm.png' %}" alt="Ícone do Whatsapp">
                        <img class="d-block d-lg-none" src="{% static '/assets/WhatsApp_xs.png' %}" alt="Ícone do Whatsapp">
                    </a>
                </div>
            </div>
        </div>
    </div> 
    <div class="branco mx-3 mb-3 d-flex flex-row align-items-center">
        <div class="py-4 px-3">
            <h5>NOS SIGA NAS REDES</h5>
        </div>
        <div class="p-3">
            <a href="https://www.instagram.com/_chacaramartins/" target="_blank"><img src="{% static '/assets/Instagram_logo_sm.svg' %}" alt="Logo do Instagram"></a>
        </div>
    </div>
</footer>
