{% load static %}

<header class="branco mx-3 mt-2 pb-1">
    <nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top rounded-4 ms-2 me-4 mt-1 fs-3">
        <div class="container-fluid">
            <a href="{% url 'inicio' %}">
                <div class="d-none d-lg-block">
                    <img class="img-fluid" src="{% static '/assets/Logo_md.png' %}" alt="Chácara Martins Logo">
                </div>
                <div class="d-block d-lg-none">
                    <img class="img-fluid" src="{% static '/assets/Logo_sm.png' %}" alt="Chácara Martins Logo Menor">
                </div>
            </a>
          <button class="navbar-toggler me-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header d-block d-lg-none d-flex">
                <img class="img-fluid" src="{% static '/assets/Logo_sm.png' %}" alt="Chácara Martins Logo Menor">
                <button type="button" class="btn-close me-4" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
              <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="{% url 'inicio' %}">Início</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'galeria' %}">Galeria</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'localizacao' %}">Localização</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="https://wa.me/5511971960420?text=Olá, gostaria de saber mais sobre a locação da chácara!" target="_blank">Contato</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Login</a>
                  </li>
                </ul>
            </div>
          </div>
        </div>
      </nav>
</header>
